<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/results" method="post">
      <label for="hour">Enter the hour</label>
      <input id="hour" type="number" name="hour" value="">
      <label for="minute">Enter the minute</label>
      <input id="minute" type="number" name="minute" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
