div{
  background: transparent;
  position: fixed;
  left: 20%;
  top:20%;
  border: 1px solid black;
}
canvas{
  background: transparent;
}

canvas.minutes{
  position: relative;
  left: -50.19%;
  border: 1px solid black;
  border-radius: 50%;
}
p{
  position: absolute;
  font-size: 3em;
  display: inline-block;
  max-width: 100px;
  right: 180px;
  top: -25px;
  font-family: "helvetica";
  text-transform: uppercase;
}
.home-button{
  position: absolute;
  font-size: 1.5em;
  display: inline-block;
  max-width: 100px;
  right: 180px;
  top: 441px;
  font-family: "helvetica";
  text-transform: uppercase;
}
form{
  border: 1px dashed black;
  font-size: 6em;
  margin: auto 0;
  font-family: "helvetica";
  margin-top: 20%;
  text-transform: uppercase;
}
form input{
  font-size: 1em;
  margin-left: 15%;
}
form button{
  font-size: 1em;
  margin-left: 39%;
}
form * {
  display: block;
  text-align: center !important;
}
